<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>endPoint</param-name>
        <param-value>http://192.168.31.110:9200/api/v1</param-value>
        <description>URL API Inventario V 1.0</description>
    </context-param>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletCategorias</servlet-name>
        <servlet-class>com.webonline.core.servlet.ServletCategorias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCategorias</servlet-name>
        <url-pattern>/ServletCategorias.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAuthenticar</servlet-name>
        <servlet-class>com.webonline.core.servlet.ServletAuthenticar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAuthenticar</servlet-name>
        <url-pattern>/ServletAuthenticar.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEliminarCategoria</servlet-name>
        <servlet-class>com.webonline.core.servlet.ServletEliminarCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEliminarCategoria</servlet-name>
        <url-pattern>/ServletEliminarCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAgregarCategoria</servlet-name>
        <servlet-class>com.webonline.core.servlet.ServletAgregarCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAgregarCategoria</servlet-name>
        <url-pattern>/ServletAgregarCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletBuscarCategoria</servlet-name>
        <servlet-class>com.webonline.core.servlet.ServletBuscarCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBuscarCategoria</servlet-name>
        <url-pattern>/ServletBuscarCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletActualizarCategoria</servlet-name>
        <servlet-class>com.webonline.core.servlet.ServletActualizarCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActualizarCategoria</servlet-name>
        <url-pattern>/ServletActualizarCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCerrarSession</servlet-name>
        <servlet-class>com.webonline.core.servlet.ServletCerrarSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCerrarSession</servlet-name>
        <url-pattern>/ServletCerrarSession.do</url-pattern>
    </servlet-mapping>
</web-app>
